.random-character-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}

.random-green {
  display: inline-block;
  position: relative;
  top: 0;
  width: 8px;
  height: 8px;
  margin: 0 10px;
  background-color: #2e7d32;
  transform: rotate(-45deg);
  animation: pulse 1s linear infinite;
}

.random-green:before,
.random-green:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #2e7d32;
}

.random-green:before {
  top: -4px;
  left: 0;
}

.random-green:after {
  left: 4px;
  top: 0;
}

.random-red {
  display: inline-block;
  position: relative;
  top: 0;
  width: 8px;
  height: 8px;
  margin: 0 10px;
  background-color: #d32f2f;
  transform: rotate(-45deg);
  animation: pulse 1s linear infinite;
}

.random-red:before,
.random-red:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #d32f2f;
}

.random-red:before {
  top: -4px;
  left: 0;
}

.random-red:after {
  left: 4px;
  top: 0;
}

.random-gray {
  display: inline-block;
  position: relative;
  top: 0;
  width: 8px;
  height: 8px;
  margin: 0 10px;
  background-color: #1976d2;
  transform: rotate(-45deg);
  animation: pulse 1s linear infinite;
}

.random-gray:before,
.random-gray:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #1976d2;
}

.random-gray:before {
  top: -4px;
  left: 0;
}

.random-gray:after {
  left: 4px;
  top: 0;
}

@keyframes pulse {
  0% {
    transform: rotate(-45deg) scale(1);
  }
  50% {
    transform: rotate(-45deg) scale(1.3);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
}

.footer-active {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #97ce4c;
}

.footer-inactive {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.footer-inactive:hover {
  color: #7eb431;
}

@media (max-width: 900px) {
  .random-character-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
